@model  NewBlogPlatform.ViewModels.Posts.CreatePostViewModel

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) 
{
    <h3 class="myposts-pad">Create new post</h3><br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--div class="form-group">
        <div class="col-md-10">
            <img src="" id="img-preview"/>
        </div>
    </div>-->
    <div class="form-group">
        @Html.LabelFor(m => m.ImageUrl, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control rich-text" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <input type="submit" class= "btn btn-primary myposts-pad" value="Add Post"/><br /> <br />
}

@section scripts{
    
<script src="~/Content/Trumbowyg-2.0.0-beta.7/dist/trumbowyg.min.js"></script>
    <script>
        $('.rich-text').trumbowyg({ });
    </script>
}