@model  IEnumerable<NewBlogPlatform.ViewModels.Posts.PostItemViewModel>



<ul class="posts list-unstyled">


    @foreach (var post in Model)
    {
        <li class="post-item">
            <div>
                <h3>@post.Title</h3>
                <img class="post-img" src="@post.ImageUrl" />
                <div class="post-content">@Html.Raw(@post.Content)</div>
                <div>
                    <div class="pull-left">
                        @post.Date
                    </div>
                    <div class="pull-right">
                        @post.Username
                    </div>
                </div>
            </div>
        </li>

    }
</ul>