@model  IEnumerable<NewBlogPlatform.ViewModels.Posts.MyPostViewModel>

<h3> Posts</h3>
@Html.ActionLink("New Post", "Create", "Posts",null,new {@class="btn btn-primary" })
<table>
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                By
            </th>
            <th>
            </th>
            Date
            <th>
                See more
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var post in Model)
            {
            <tr>
                <td>@post.Title</td>
                <td>By: @post.Username</td>
                <td>@post.Date</td>
                <td>@Html.ActionLink("See more", "Details/" + @post.postSlug, "Posts", null)</td>

            </tr>
            }
        }
    </tbody>
    </table>
